<ul>
    <li>

    </li>
    <% @connections.each do |connection|%>
    <% if has_permission(connection) %>
        <ul>
        <li>
            <%= link_to connection.person_of_interest.name, connection_person_of_interest_path(connection, connection.person_of_interest_id) %>
        </li>
        </ul>
    <% end %>
    <% end %>
</ul>