<h1>
<%= prompt.description %>
</h1>
<h4>
<%= prompt.due_date.strftime("%m/%d/%Y") %>
</h4>
<p>
<%= prompt.notes %>
</p>
<%= link_to "delete prompt", prompt_path(prompt), :method => "delete", :class => 'destroy'  %>